<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <style>
        div{
            background-color: beige;
        }
        span{
            background-color: burlywood;
            color: darkslategray;
        }
        h1{
            background-color: green;
            color: white;
        }
        img{
            padding: 30px solid beige;
            border: 50px solid beige;
        }
        div.img{
            background-color: beige;
        }

    </style>
    
</head>
<body><h1>Contact Us</h1>
    <div>
    <span>
        Reservation +91-11-23890606
        <br>
        Hotel +91 11 2436 3030
        <br>
        Facsimile +91 11 2436 0484
        <br>
        Email reservations@oberoigroup.com
        <br>
        Address Dr. Zakir Hussain Marg
        <br>New Delhi - 110 003 India
        <br>General Manager Jay Rathore
        <br>E-mail Address generalmanager.delhi@oberoihotels.com</span>
    </div>
    <div class="img">
    <img src="https://www.oberoihotels.com/-/media/oberoi-hotels/website-images/the-oberoi-new-delhi/contact-us/delhi-hotel.jpg?extension=webp" alt="" width="70%">
</div>
</body>
</html>