<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rooms & Suites</title>
    <style>
        h1.headline{
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-style: italic;
            text-align: left;
            font-weight: 800;
            background-color: aqua;
            color: goldenrod;
        }
        div.desc{
            color: brown;           
            background-color: bisque;
            width: 50%;
            font-size: x-large;
        }
        div.deluxe{
            
            background-color:bisque;
            width: 50%;
        }
        
            
            
        
        div.deluxe h1.a{
            font-style: italic;
        }
        div.luxuryroom{
            display: inline-block;
            vertical-align:top;
            background-color:bisque;
            
        }
        div.luxury{
            display: inline-block;
            background-color: bisque;
            
            
        }
        div.luxury h1.b{
            font-style: italic;
        }
        body{
            background-color: darksalmon;
        }
        
    </style>
</head>
<body>
    
    <h1 class="headline">
        Room & Suites.
    </h1>
    <div class="desc">Choose from 220 rooms and suites with spacious walk in closets, Italian marble bathrooms, teak floors and oak wood desks. Breathe easy with state of the art air purification systems that assure air quality on par with global best standards.</div>
    <br>
    <br>
    <br>
    <br>
    <div class="deluxeroom" >
    <img src="https://www.oberoihotels.com/-/media/oberoi-hotels/website-images/the-oberoi-new-delhi/room-and-suites/deluxe-room/detail/deluxe-room-1.jpg?w=724&hash=132864d85b0fe9bbb9e8d8a8fa472d34" alt=""
    width="50%" >
    </div>
    <div class="deluxe" ><h1 class="a">Deluxe Room</h1> <p>@ Rs. 26,500/-</p><br>
        <p>The perfect choice for business or leisure travellers.
            
            </p></div>
            <p style="background-color: goldenrod ; color: white;">Brightly lit, tastefully decorated and comfortably furnished. Deluxe Rooms feature a large picture window that allows abundant natural light to drift in during the day. Lutyens’ style furnishings sit alongside the hotel’s Tree of Life leitmotif, while a king size or twin beds take centre stage.</p>

    <div class="Luxury Room">
        <img src="https://www.oberoihotels.com/-/media/oberoi-hotels/website-images/the-oberoi-new-delhi/room-and-suites/luxury-room/detail/luxury-room-1.jpg?w=724&hash=238073aac024b5aaac537885d1c4dc37" alt="" width="50%">
    </div>
    <div class="luxury" ><h1 class="b">Luxury Room</h1> <p>@ Rs. 27,500/-</p><br>
        <p>Elevated for even better views.
            
            </p></div>
    <p style="background-color: goldenrod;color: white;">Situated on the higher floors of our hotel, with a large picture frame window, a mirrored wall and a frosted glass bathroom, these rooms have been especially designed so that you can enjoy the best possible views of Humayun’s Tomb or Delhi Golf Course, in comfort. Take a break from working at the oak desk to stretch out on the king or twin beds, relax in the armchair or soak in the bathtub.</p>

    <div class="Luxury Room">
        <img src="https://www.oberoihotels.com/-/media/oberoi-hotels/website-images/the-oberoi-new-delhi/room-and-suites/premier-room/detail/premier-room-1.jpg?w=724&hash=a9e3a221b27dc8ac0dc1ae4b7fbfc4c5" alt="" width="50%">
    </div>
    <div class="luxury" ><h1 class="b">Premier Room</h1> <p>@ Rs. 29,500/-</p><br>
        <p>Sophisticated design features and beautiful views.
            
            </p></div>
    <p style="background-color: goldenrod;color: white;">Clean lines, a striking colour palette dotted with monochrome touches and Lutyens' inspired furnishings. Premier Rooms are stylish, spacious and imbibe sophistication. From the king size bed and the Italian marble bathroom to the oak writing desk and 24 hour services, these rooms are the ideal choice for business or leisure travellers to the city. A stay in our Premier Room includes daily breakfast and one way airport transfer.</p>
    <div class="Luxury Room">
        <img src="https://www.oberoihotels.com/-/media/oberoi-hotels/website-images/the-oberoi-new-delhi/room-and-suites/premier-plus-room/detail/premier-plus-1.jpg?w=724&hash=bc110a5547055d95932c844f9f5b70ed" alt="" width="50%">
    </div>

    <div class="luxury" ><h1 class="b">Premier Plus Room</h1> <p>@ Rs.34,500/-</p><br>
        <p>With complimentary access to the Residents’ Lounge.
            
            </p></div>
    <p style="background-color: goldenrod;color: white;">These spacious rooms have been carefully designed with your comfort and convenience in mind. Stretch out on your king size bed, catch up on work at your oak writing desk or call for in room dining and enjoy hand crafted delicacies beside wonderful views. Premier Plus Rooms have the added benefit of complimentary access to the exclusive Residents’ Lounge. A stay in our Premier Plus Room includes daily breakfast and two way airport transfer.</p>

    <div class="Luxury Room">
        <img src="https://www.oberoihotels.com/-/media/oberoi-hotels/website-images/the-oberoi-new-delhi/room-and-suites/oberoi-suite/detail/the-oberoi-suite1.jpg?w=724&hash=f0c7613b1ee0b52da25afd98011fe965" alt="" width="50%">
    </div>

    <div class="luxury" ><h1 class="b">The Oberoi Suites</h1> <p>@ Rs.50,000/-</p><br>
        <p>Spacious accommodation with an optional interconnecting room.
            
            </p></div>
    <p style="background-color: goldenrod;color: white;">These beautifully appointed suites make fine use of their generous space. Each features a grand master bedroom, a living area and an optional interconnecting Premier Plus room. Views from the picture window look over the forested Delhi Golf Course or Humayun's Tomb. Enjoy a 24 hour butler service and in room dining, Oberoi E'nhance automated room technology and more.</p>

    <div class="Luxury Room">
        <img src="https://www.oberoihotels.com/-/media/oberoi-hotels/website-images/the-oberoi-new-delhi/room-and-suites/deluxe-suite/detail/deluxe-suite-1.jpg?w=724&hash=175ff33700469c3d179fe4a40068012e" alt="" width="50%">
    </div>

    <div class="luxury" ><h1 class="b">Deluxe Suites</h1> <p>@ Rs.2,00,000/-</p><br>
<p>Designed with your utmost comfort in mind.</p></div>

    <p style="background-color: goldenrod;color: white;">Our thoughtfully planned Deluxe Suites include a living area with a powder room, a balcony, a pantry, a king size bed and an Italian marble bathroom. Lutyen’s style furnishings provide an added touch of grace to a suite where every convenience has been considered, from a 24 hour butler service, in room dining, return airport transfers to the very best technology supplied with our compliments.</p>

    <div class="Luxury Room">
        <img src="https://www.oberoihotels.com/-/media/oberoi-hotels/website-images/the-oberoi-new-delhi/room-and-suites/luxury-suite/detail/luxury-suite-1.jpg?w=724&hash=a33e2303b1803fc669a7a680c4af75e1" alt="" width="50%">
    </div>

    <div class="luxury" ><h1 class="b">Luxury Suites</h1> <p>@ Rs. 3,00,000/-</p><br>
<p>Themed with an Oberoi signature.</p></div>

    <p style="background-color: goldenrod;color: white;">Luxury abounds in these suites. From the living room and attached powder room, to the master bedroom with its ensuite Italian marble bathroom, the grand dining room and the pantry. For your convenience, there is a 24 hour butler service, 24 hour in room dining and Oberoi E'nhance technology. A number of Luxury Suites also have Victorian or Art Deco theme.</p>

    <div class="Luxury Room">
        <img src="https://www.oberoihotels.com/-/media/oberoi-hotels/website-images/the-oberoi-new-delhi/room-and-suites/kohinoor-suite/detail/14_kohinoor_living-area1.jpg?w=724&hash=4c9f956a74a507afb7b8a548a02f22ee" alt="" width="50%">
    </div>

    <div class="luxury" ><h1 class="b">Kohinoor Suites</h1> <p>@ Rs. 9,00,000/-</p><br>
<p>The jewel in the crown of The Oberoi, New Delhi.</p></div>

    <p style="background-color: goldenrod;color: white;">No detail has been spared in this lavish and exceptional suite. From the master bedroom with its private sitting area, teak furniture, separate study, therapy room and a personal gym, to the authentic touches of classic Indian fabrics and silk, and all the high tech amenities one could ask for. There are truly few suites anywhere quite like the Kohinoor.</p>




    

    
</body>
</html>